[submodule "cmake"]
	path = cmake
	url = https://github.com/omnetpp/cmake.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "simlibs/rdp"]
	path = simlibs/rdp
	url = git@github.com:giacomoni/rdp.git
	branch = delayexp
[submodule "simlibs/ecmp"]
	path = simlibs/ecmp
	url = git@github.com:giacomoni/ecmp.git
	branch = master
