[submodule "cmake"]
	path = cmake
	url = https://github.com/omnetpp/cmake.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "ecmp"]
	path = simlibs/ecmp
	url = https://github.com/giacomoni/ecmp.git
	branch = master
[submodule "rdp"]
	path = simlibs/rdp
	url = https://github.com/giacomoni/rdp
	branch = delayexp
